<!doctype html>

<html>
    <section class="dashboard">

    <nav>
       
        <a class="logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='votelogo.png') }}">
            <div class="nav-links">
        <ul>
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('resources') }}">RESOURCES</a></li>
        </ul>
        </div>
    </nav>
    </section>
</html>

<html>

<head>
    <h1>National Elected Officials Dashboard</h1>
    <title>resources</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id='chart' class='chart'”></div>

            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                var graphs = {{graphJSON | safe}};
                Plotly.plot('chart',graphs,{});
            </script>
            
</body>  

</html>